@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    /* margin: 0 auto; */
}

/* header section done */
header {
    margin-bottom: 0px;
    padding: 50px 130px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-img {
    display: flex;
    align-items: center;
}

nav .title-img h3 {
    font-size: 36px;
    width: 201px;
    /* height: 45px; */
    top: 52px;
    left: 207.63px;
    padding-left: 10px;

}

nav .title-img .title-img-h3-style,
nav li a .title-img-h3-style {
    color: #FF5400;
}

nav>ul {
    display: flex;
}

nav>ul li {
    list-style: none;
    margin-right: 40px;
    /* font-family: Mulish; */
    font-size: 1rem;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
}

nav li a {
    text-decoration: none;
    color: #424247;
}

.heading-background-img1 {
    max-width: 1170px;
    padding: 0 100px;
    text-align: center;
}

.heading-paragraph-btn-sec1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-paragraph-btn-sec1 h2 {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0px;
}

.heading-paragraph-btn-sec1 p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin: 20px 80px;
    padding-top: 20px 20px;
}

.section-2 {
    padding: 50px 130px;
}

.tour-details {
    display: flex;
}
.tour-about{
    margin: 0px;
    padding: 0px 20px;
}

.tour-about-img {
    width: 450px;
    height: 450px;
    /* flex-shrink: 500px; */
    border-radius: 16px;
    /* background: url(Images/Rectangle\ 4.png), lightgray 50% / cover no-repeat; */
}

.tour-about h2 {
    width: 577px;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin: 0px auto;
}

.tour-about p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    /* padding: 48px 50px; */
}

.tour-about ul li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}
.btn-primary{
border-style: none;
color: #FFF;
font-size: 20px;
font-weight: 800;
width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background:#FF5400;
}